<!DOCTYPE html>
<html>

<head>
    <title>About NEXORA AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>About NEXORA AI</h1>

    <p>
        NEXORA AI is an AI Powered Career & Learning Assistant developed
        using Python and FastAPI.
    </p>

    <h2>✨ Features</h2>

    <ul>
        <li>Career Roadmaps</li>
        <li>Course Recommendations</li>
        <li>Student Management System</li>
        <li>Stock Market Prediction</li>
        <li>Stock Price Graph</li>
    </ul>

    <h2>🛠 Technologies Used</h2>

    <ul>
        <li>Python</li>
        <li>FastAPI</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>SQLite</li>
        <li>YFinance</li>
    </ul>

    <h2>👩‍💻 Developer</h2>

    <p>Priyanka Bagal</p>

    <br>

    <a href="/website">
        <button>⬅ Back</button>
    </a>

</div>

</body>
</html>