<!DOCTYPE html>
<html>

<head>
    <title>Data Scientist Roadmap</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav>
    <h2>NEXORA AI</h2>

    <ul>
        <li>Home</li>
        <li>Roadmap</li>
        <li>About</li>
    </ul>
</nav>

<div class="container">

<h1>📊 Data Scientist Roadmap</h1>

<div class="card">

<h2>💰 Career Information</h2>

<p><b>Salary :</b> ₹6 LPA - ₹25+ LPA</p>

<p><b>Duration :</b> 8 - 12 Months</p>

<p><b>Difficulty :</b> Intermediate</p>

</div>

<hr>

<h2>🚀 Phase 1 : Programming</h2>

<ul>
<li>✅ Python</li>
<li>✅ Variables</li>
<li>✅ Functions</li>
<li>✅ OOP</li>
</ul>

<h2>📊 Phase 2 : Statistics</h2>

<ul>
<li>✅ Probability</li>
<li>✅ Mean</li>
<li>✅ Median</li>
<li>✅ Standard Deviation</li>
</ul>

<h2>🗄 Phase 3 : Database</h2>

<ul>
<li>✅ SQL</li>
<li>✅ MySQL</li>
</ul>

<h2>📈 Phase 4 : Data Analysis</h2>

<ul>
<li>✅ NumPy</li>
<li>✅ Pandas</li>
<li>✅ Matplotlib</li>
<li>✅ Seaborn</li>
</ul>

<h2>🤖 Phase 5 : Machine Learning</h2>

<ul>
<li>✅ Regression</li>
<li>✅ Classification</li>
<li>✅ Clustering</li>
</ul>

<a href="/website">
<button>⬅ Back</button>
</a>

</div>

</body>

</html>