<!DOCTYPE html>
<html>

<head>
    <title>Machine Learning Engineer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav>
    <h2>NEXORA AI</h2>
</nav>

<div class="container">

<h1>🧠 Machine Learning Engineer</h1>

<h2>💰 Career Information</h2>

<p><b>Salary:</b> ₹8 LPA - ₹35+ LPA</p>

<h2>🚀 Skills</h2>

<ul>
    <li>✅ Python</li>
    <li>✅ NumPy</li>
    <li>✅ Pandas</li>
    <li>✅ Scikit-Learn</li>
    <li>✅ TensorFlow</li>
    <li>✅ PyTorch</li>
    <li>✅ Deep Learning</li>
</ul>

<a href="/website">
    <button>⬅ Back</button>
</a>

</div>

</body>
</html>