<!DOCTYPE html>
<html>

<head>
    <title>Python Developer Roadmap</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav>
    <h2>NEXORA AI</h2>
</nav>

<div class="container">

<h1>🐍 Python Developer Roadmap</h1>

<h2>💰 Career Information</h2>

<p><b>Salary:</b> ₹4 LPA - ₹15+ LPA</p>
<p><b>Duration:</b> 5 - 8 Months</p>

<h2>🚀 Skills</h2>

<ul>
    <li>✅ Python Basics</li>
    <li>✅ OOP</li>
    <li>✅ File Handling</li>
    <li>✅ FastAPI</li>
    <li>✅ Flask</li>
    <li>✅ APIs</li>
    <li>✅ Git & GitHub</li>
</ul>

<a href="/website">
    <button>⬅ Back</button>
</a>

</div>

</body>
</html>